<h1>Bookmark Manager</h1>
<form action="/bookmarks" method="get">
  <input type="submit" value="View my bookmarks">
</form>
<form action="/test" method="get">
  <input type="submit" value="Add new bookmark"
</form>